.navbar.fixed-bottom.navbar-light.bg-light
  .nav-item.dropup
    = link_to fa_icon('user'), '#', role: 'button', class: 'btn', id: 'StartmenuDropdown', data: { toggle: 'dropdown' }, aria: { haspopup: "true", expanded: "false" }
    .dropdown-menu{ aria: { labelledby: 'StartmenuDropdown' } }
      = link_to current_user.login, current_user, class: 'dropdown-item'
      .dropdown-divider
      = link_to t(:users), users_path, class: 'dropdown-item'
      .dropdown-divider
      = link_to t(:settings), user_setting_path(current_user), class: 'dropdown-item'

  .navbar-text.float-right
    %ul.nav= render 'users/userbar'