= form_for([@user, @setting], html: { multipart: true, class: 'form form-horizontal well' }) do |f|
  %fieldset
    -if @setting.errors.any?
      #error_explanation
        %h2
          = pluralize(@setting.errors.count, "error")
          prohibited this setting from being saved:

        %ul
          -@setting.errors.full_messages.each do |msg|
            %li= msg

    .control-group
      = f.label :bg, class: 'control-label'
      .controls= f.file_field :bg
    =image_tag(@setting.bg.url(:thumb))
    .form-actions
      = f.submit
