.card.drag
  .card-header
    Editing setting
  .card-body
    = bootstrap_form_for(@setting, url: user_setting_path(@user), html: { multipart: true }) do |f|
      = f.file_field :bg
      = image_tag @setting.bg.url(:thumb), class: 'img-thumbnail'

      #changecolor.input-append.color{ data: { color: "#{@icon_color}", color_format: 'hex' } }
        = f.label :icon_color, 'Choose icon color'
        = f.hidden_field :icon_color, class: 'span2', value: @icon_color, readonly: true
        %span.add-on
          %i(style="background-color: #{@icon_color}")

      = f.select :icon_size, ((30..100).map {|i| [i,i] })

      = f.submit

    = link_to 'Show', user_setting_path(@user)
