<p id="notice"><%= notice %></p>

<p>
  <b>Bg:</b>
  <%= @setting.bg %>
</p>

<p>
  <b>User:</b>
  <%= @setting.user %>
</p>


<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
