!!!
%html
  %head
    %title WEBNYA
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    -if current_user
      %style
        \ body {background-image: url(#{current_user.setting.bg})}
  %body
    .container
      #flash.span6.offset3= bootstrap_flash
      = yield
    #bottom
      -if current_user
        .navbar.navbar-fixed-bottom
          .navbar-inner
            =link_to '@', '#', class: 'brand', style: 'margin-left:10px;'
            .navbar-text.pull-right
              %ul.nav=render 'users/userbar'

