!!!
%html
  %head
    %title WEBNYA
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render partial: 'main/user_style', locals: { user: @user }

  %body{ data: { bg: @user.setting.bg } }
    .vegas
    #main
      #desktop
        - unless flash.empty?
          .container-fluid#flash
            .row
              .col-6.offset-3
                - flash.each do |name, msg|
                  .alert.alert-info= content_tag :div, msg

        = render Icon.all if user_signed_in?
      = yield
    #bottom= render 'main/panel'
